@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.montserrat-<uniquifier > {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

* {
    font-family: "Montserrat", sans-serif;
    margin: 0em;
    padding: 0em;
}

body {
    display: flex;
    background-color: background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

h1 {
    margin: 2em 0em 1em 0em;
}

h3 {
    padding: 0em 1em;
}

.firstlist-section,
.secondlist-section {
    text-align: center;
    padding: 10px;
}

.select-btn {
    background-color: black;
    border-color: transparent;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    padding: 7px 13px;
}

.output-section {
    display: flex;
    margin: 9em 0em 0em 4em;
}

.whiteout {
    color: white;
}

.userprompt-section {
    margin: 0em 0em 0em 4em;
}

#clear-btn,
#submit-btn {
    background-color: black;
    border-color: transparent;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    margin-top: 1em;
    padding: 7px 13px;
}
#submit-btn {
    background-color: white;
    color: black;
}

#UserInputWord {
    margin-bottom: 1em;
    border-color: transparent;
    border-radius: 5px;
}
