* {
    font-family: arial;
    margin: 0em;
    padding: 0em;
}

h1 {
    margin: 4em;
}

.input-field {
    margin-left: 4em;
}

.submit-btn {
    background-color: black;
    border-color: transparent;
    border-radius: 12px;
    color: white;
    padding: 0px 12px;
}

#output-json {
    margin: 4em;
    width: 92%;
    overflow: hidden;
}